.row
  .col-sm-6
    %h1 Change your password
    = form_for(resource, :as => resource_name,              |
      :url => password_path(resource_name),                 |
      :html => { :method => :put, :role => "form" }) do |f| |
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .form-group
        = f.label :password, "New password"
        .row
          .col-sm-6
            = f.password_field :password, class: "form-control"
      .form-group
        = f.label :password_confirmation, "Confirm new password"
        .row
          .col-sm-6
            = f.password_field :password_confirmation, class: "form-control"
      .row
        .col-sm-6
          = f.submit "Change my password", class: "btn btn-danger"
    = render "devise/shared/links"