- title("RSpec in the Wild")
.jumbotron
  %h1
    RSpec in the Wild
  %p Find real world RSpec examples.
= bootstrap_form_for @project, html: { class: "form-horizontal" } do |f|
  %header
    %h3 Submit a GitHub project with RSpec
  %fieldset
    = f.text_field :url, label: "Project URL"
    %br
  %fieldset.action
    %input(type="submit" value="Submit Project" class="btn")
%br
%table.table.table-striped.table-bordered
  %tr
    %th URL
    %th User
    %th When
  - @all_projects.reverse.each do |p|
    %tr
      %td= p.url
      %td
        - p.users.each do |u|
          = u.username
      %td= time_ago_in_words(p.created_at) + " ago"