%ul#project_scopes.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#top"} Top
  %li
    %a{"data-toggle" => "tab", :href => "#new"} New

.tab-content
  #home.tab-pane.active.fade.in
    - @projects.each do |p|
      .well 
        .row
          .col-md-10
            .panel.panel-default
              .panel-heading
                %h2.panel-title
                  = link_to p.repo_name, p.repo_url
                  .pull-right
                    - if current_user
                      - if Vote.where(voteable: p, creator: current_user, vote: true).present?
                        %span{id: "project_#{p.id}_star"}
                          = link_to vote_project_path(p, vote: false), method: 'post', remote: true do
                            .glyphicon.glyphicon-star{:style => "font-size:1.2em;"}
                      - else
                        %span{id: "project_#{p.id}_star"}
                          = link_to vote_project_path(p, vote: true), method: 'post', remote: true do
                            .glyphicon.glyphicon-star-empty{:style => "font-size:1.2em;"}
                    (
                    %span{id: "project_#{p.id}_star_count"}
                      #{tv = p.total_votes} #{tv == 1 ? "star" : "stars"}
                    )
              .panel-body
                = p.repo_description
                %br
                %br
                - if p.tags.count > 0
                  It tests with: 
                  - p.tags.each do |t|
                    %span.label.label-default= link_to t.name, "#{p.repo_url}/tree/master/spec/#{t.name}"
                .pull-right
                  Submitted by
                  - p.users.each do |u|
                    = u.username
                  = time_ago_in_words(p.created_at) + " ago"
          .col-md-2
            %a.pull-right{:href => "#{p.repo_owner_url}"}
              =image_tag "https://gravatar.com/avatar/#{p.repo_owner_avatar}?s=120"
              .pull-right
                = link_to p.repo_owner, p.repo_owner_url

    .pull-right= paginate @projects

.tab-content
  #new.tab-pane.fade
    Sorted differently.