- if @vote.vote == true
  $("#project_#{@project.id}_star").replaceWith("#{escape_javascript(render 'full_star')}")
- else
  $("#project_#{@project.id}_star").replaceWith("#{escape_javascript(render 'half_star')}")
$("#project_#{@project.id}_star_count").html("#{tv = @project.total_votes} #{tv == 1 ? "star" : "stars"}")